# Java / Maven
**/target/
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iml

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
.env.example
api-gateway/src/main/resources/application.properties
