.glow{

transition:.3s;

}

.glow:hover{

transform:translateY(-6px);

box-shadow:0 0 40px rgba(255,122,26,.18);

}

.card-hover{

transition:.3s;

}

.card-hover:hover{

transform:translateY(-8px);

}