@import "tailwindcss";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

font-family:Inter,sans-serif;

background:

radial-gradient(
circle at top right,
rgba(255,122,26,.12),
transparent 40%
),

var(--color-bg);

color:var(--color-text);

min-height:100vh;

overflow-x:hidden;

}

body::before{

content:"";

position:fixed;

inset:0;

background-image:

linear-gradient(
rgba(255,255,255,.03) 1px,
transparent 1px),

linear-gradient(
90deg,
rgba(255,255,255,.03) 1px,
transparent 1px);

background-size:60px 60px;

pointer-events:none;

z-index:-1;

}