:root {

  --color-bg: #090909;
  --color-surface: #131313;
  --color-card: rgba(24, 24, 24, .78);

  --color-primary: #FF7A1A;
  --color-primary-hover: #FF9B42;
  --color-primary-light: rgba(255,122,26,.15);

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --color-text: #FAFAFA;
  --color-muted: #A1A1AA;

  --color-border: rgba(255,255,255,.08);

  --radius-sm: 12px;
  --radius-md: 18px;
  --radius-lg: 24px;
  --radius-xl: 30px;
  --radius-pill: 999px;

  --shadow-card:
      0 12px 40px rgba(0,0,0,.35);

  --shadow-glow:
      0 0 35px rgba(255,122,26,.18);

  --transition-fast: .25s ease;

}