.glass{

background:rgba(25,25,25,.75);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

box-shadow:0 12px 40px rgba(0,0,0,.25);

border-radius:24px;

}

.page-container{

max-width:1400px;

margin:auto;

padding:40px;

}

.section-space{

padding:100px 0;

}

.orange-text{

color:#FF7A1A;

}
.bg-grid{

background-image:

linear-gradient(rgba(255,255,255,0.05) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,0.05) 1px,transparent 1px);

background-size:40px 40px;

}